body{
    overflow: hidden;
    background-color: #373D46;
    padding: 0px;
    margin: 0px;
    font-family: 'Zen Kaku Gothic Antique';
}

#sideNavBar{
    background-color: #272830;
    position: absolute;
    left: 0px;
    height: 100vh;
    width: 14vw;
    filter: drop-shadow(1.2vw 0px 1vw rgba(0,0,0,0.25));
    z-index: 2000;
}

.navBarEntry{
    width: 60%;
    margin-left: 20%;
    margin-top: 18%;
    height: 3%;
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
    user-select: none;
    cursor: pointer;
}

.imageHolder{
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: left;

}

.recoloredIcon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
    opacity: 0; /* Adjust opacity as needed for the recolored effect */
}

.textHolder{
    width: 80%;
    font-size: 1vw;
    color: #A7ADB2;
    display: flex;
    align-items: center;
}

.entryIcon{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 0;
}

#navDivider{
    width: 70%;
    border: 0.5px solid #A7ADB2;
    margin-top: 12%;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2E333C;
}

#infoTab{
    position: absolute;
    height: 30vw;
    width: 30%;
    top: 2%;
    right: 1.2%;
    background-color: #272830;
    z-index: 1000;
    border-radius: 1vw;
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.4);
}

#header-container{
    position:absolute;
    height: 20%;
    width: 100%;
    top:0;
    left:0;
}

#infoTitle{
    position: absolute;
    left: 5%;
    top: 18%;
    color: white;
    font-size: 2.2vw;
    font-weight: 700;
}

#subtitleHeader{
    position: absolute;
    left: 5%;
    top: calc(26% + 2.2vw);
    font-weight: 500;
    font-size: 1vw;
    color: #787E86;
}

#search-bar-container{
    position:absolute;
    height: 10%;
    width: 100%;
    top:20%;
    left:0;
}

#search-bar{
    position: absolute;
    height: 50%;
    width: 30%;
    left: 5%;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 0.5vw;
    background-color: #1F1F26;
    outline: none;
    padding-left: 0.5vw;
    font-size: 0.8vw;
    color: white;
    border: none;
}

#stationing-start{
    position: absolute;
    height: 50%;
    width: 15%;
    right: 25%;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 0.5vw;
    background-color: #1F1F26;
    outline: none;
    padding-left: 0.5vw;
    font-size: 0.8vw;
    color: white;
    border: none;
}

#stationing-end{
    position: absolute;
    height: 50%;
    width: 15%;
    right: 5%;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 0.5vw;
    background-color: #1F1F26;
    outline: none;
    padding-left: 0.5vw;
    font-size: 0.8vw;
    color: white;
    border: none;
}

#statistics-container{
    position: absolute;
    height: 70%;
    width: 100%;
    left: 0%;
    bottom: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.single-stat-container{
    position: relative;
    height: 2.5vw;
    width: 90%;
    display: block;
}

.single-stat-title{
    position: absolute;
    height: 2vw;
    top: 1.2vw;
    left: 0vw;
    transform: translate(0,-50%);
    font-size: 1vw;
    font-weight: 500;
    color: #787E86;
}

.progress-bar-container{
    position: absolute;
    height: 0.25vw;
    width: 80%;
    top: 2vw;
    left: 0vw;
    transform: translate(0,-50%);
    background-color: #1F1F26;
    border-radius: 0.125vw;
}

.progress-bar{
    position: absolute;
    height: 100%;
    width: 50%;
    top:0;
    left: 0;
    background-color: #21BF57;
    border-radius: 0.125vw;
    transition: width 0.5s;
}

.percentage-label{
    position: absolute;
    top:2vw;
    right: 0;
    width: 16%;
    height: 1vw;
    transform: translate(0,-60%);
    color: #787E86;
    font-size: 1vw;
    line-height: 1vw;
    font-weight: 500;
}

#general-progress-container{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 25%;
    height: 100%;
}

#general-progress-percent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5vw;
    color: white;
    font-weight: 400;
}

.progress {
    z-index: 4000;
}

#progress-ring {
    fill: none;
    stroke: #21BF57; /* Progress bar color */
    stroke-width: 0.15vw; /* Thickness of the progress bar */
    stroke-linecap: round; /* Rounded line ends */
    transition: stroke-dashoffset 0.3s ease; /* Animation effect */
}