body{
    overflow: hidden;
    background-color: #373D46;
    padding: 0px;
    margin: 0px;
    font-family: 'Zen Kaku Gothic Antique';
}

#sideNavBar{
    background-color: #272830;
    position: absolute;
    left: 0px;
    height: 100vh;
    width: 14vw;
    filter: drop-shadow(1.2vw 0px 1vw rgba(0,0,0,0.25));
    z-index: 2000;
}

.navBarEntry{
    width: 60%;
    margin-left: 20%;
    margin-top: 18%;
    height: 3%;
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
    user-select: none;
    cursor: pointer;
}

.imageHolder{
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: left;

}

.recoloredIcon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
    opacity: 0; /* Adjust opacity as needed for the recolored effect */
}

.textHolder{
    width: 80%;
    font-size: 1vw;
    color: #A7ADB2;
    display: flex;
    align-items: center;
}

.entryIcon{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 0;
}

#navDivider{
    width: 70%;
    border: 0.5px solid #A7ADB2;
    margin-top: 12%;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2E333C;
}

#infoTab{
    position: absolute;
    height: 30vw;
    width: 30%;
    top: 2%;
    right: 1.2%;
    background-color: #272830;
    z-index: 1000;
    border-radius: 1vw;
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.4);
}

#header-container{
    position:absolute;
    height: 20%;
    width: 100%;
    top:0;
    left:0;
    background-color: red;
}

#infoTitle{
    position: absolute;
    left: 5%;
    top: 18%;
    color: white;
    font-size: 2.2vw;
    font-weight: 700;
}

#subtitleHeader{
    position: absolute;
    left: 5%;
    top: calc(26% + 2.2vw);
    font-weight: 500;
    font-size: 1vw;
    color: #787E86;
}

#search-bar-container{
    position:absolute;
    height: 20%;
    width: 100%;
    top:20%;
    left:0;
    background-color: yellow;
}